        <footer class="container-fluid bg-primary text-light">
            <div class="container text-center">  
                <div class="row text-muted justify-content-center">
                    <div class="col-2 mt-2"><a href="/about" class="text-white">About</a></div>
                    <div class="col-2 mt-2"><a href="/contact" class="text-white">Contact</a></div>
                    <div class="col-2 mt-2"><a href="/adminlogin" class="text-white">Admin</a></div>
                    <div class="col-2 mt-2"><a href="/covid19" class="text-white">Covid-19</a></div>
                </div>
                <div class="row">
                    <div class="co-md-8 mx-auto mt-2">
                        <p class="text-white text-center">&copy; 2020 Pack-A-Bag. All rights reserved</p>
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-youtube-square fa-inverse" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter-square fa-inverse" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook-square fa-inverse" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </footer>
    </body>
</html>