<h4>Statistic</h4>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Index</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Hotels count</td>
                <td><%= data.hotels_count %></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Average price</td>
                <td><%= data.avg_price %></td>
            </tr>
            <tr>
                <th>3</th>
                <td>Total price</td>
                <td><%= data.sum_price %></td>
            </tr>
        </tbody>

    </table>
</div>