<%- include('partials/header.ejs') %>
<%- include('partials/login.ejs') %>
        <div class="container my-5">
            <h1 class="navbar-brand-big font-weight-bold display-4">Pack-A-Bag</h1>
            <div class="container jumbotron d-flex">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="img-fluid" src='<%= imageUrlArray[0] %>'/>
                    </div>
                    <div class="col-lg-7 about">
                        <span class="about-title font-weight-bold">Explore, Discover, and Save</span><br><br>
                        Pack-A-Back powers travel to a highly valuable global audience of travel consumers, 
                        collaborating with the world’s leading consumer brands to provide incremental demand 
                        and direct bookings. Pack-A-Back is designed and created by Michael Bruce, Michael Cisneros,
                        Erica Hicks, and Jason Moon as the final class team project. 
                    </div>
                </div>
            </div>
        </div>    
<%- include('partials/footer.ejs') %>